.Footer{
    width: 100px;
    height: 92%;
    position: fixed;
    color: #ffffff;
    list-style-type: none;
    margin: 0px 0px;
    padding: 15px;
    background-color: #259ed9;
    border-radius: 30px 0px 0px 30px;
    right: 0;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer img{
    width: 100px;
}

@media only screen and (max-width: 600px) {
    .Footer{
        width: 90%;
        margin: auto;
        position: relative;
        border-radius: 30px 30px 0px 0px;
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 0px;
        bottom: 0px;
        height: 50px;
    }
    .Footer img{
        width: 50px;
    }
    
  }